@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 61.5%;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 1.6rem;
  line-height: 1.8;
  /* font-family: "Ubuntu", sans-serif; */
}

.my-container {
  max-width: 162.3rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.custom-clip-path {
  -webkit-clip-path: polygon(100% 0, 100% 85%, 76% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 85%, 76% 100%, 0 100%, 0 0);
}

@media (max-width: 1467px) {
  .my-element {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
}

/*  */

.slider {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
